@media screen and (max-width: 1048px) {
  .all-series__block {
    left: 23px;
  }
  .all-series__block .slick-arrow {
    margin: 0 180px;
    z-index: 999;
  }
  .recommendation-sliders-inner__block {
    left: 23px;
  }
  .recommendation__container .slick-arrow {
    margin: 0 180px;
    z-index: 999;
  }
}
@media screen and (max-width: 985px) {
  .recommendation__header {
    padding: 0 20px;
  }
}
@media screen and (max-width: 949px) {
  .all-series__block {
    left: 19px;
  }
  .all-series__block .slick-arrow {
    margin: 0 165px;
    z-index: 999;
  }
  .recommendation-sliders-inner__block {
    left: 19px;
  }
  .recommendation__container .slick-arrow {
    margin: 0 165px;
    z-index: 999;
  }
}
@media screen and (max-width: 899px) {
  .all-series__button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .all-series__button .button__series {
    margin: 0 5px 10px 5px;
  }
  .all-series__block {
    left: 13px;
  }
  .all-series__block .slick-arrow {
    margin: 0 160px;
    z-index: 999;
  }
  .recommendation-sliders-inner__block {
    left: 13px;
  }
  .recommendation__container .slick-arrow {
    margin: 0 160px;
    z-index: 999;
  }
}
@media screen and (max-width: 839px) {
  .all-series__block {
    left: 22px;
  }
  .all-series__block .slick-arrow {
    margin: 0 165px;
    z-index: 999;
  }
  .recommendation-sliders-inner__block {
    left: 22px;
  }
  .recommendation__container .slick-arrow {
    margin: 0 165px;
    z-index: 999;
  }
}
@media screen and (max-width: 818px) {
  .cast__header {
    margin: 10px 0;
  }
  .cast-actors-inner__photo .xfieldimage {
    margin-top: 25px;
  }
}
@media screen and (max-width: 768px) {
  .all-series__block {
    left: 0.25%;
  }
  .recommendation-sliders-inner__block {
    left: 0.25%;
  }
}
@media screen and (max-width: 643px) {
  .rating-film__block {
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .film-name__content {
    flex-direction: column;
    align-items: center;
  }
  .film-name__footer {
    width: 100%;
  }
  .film-name__content button {
    margin-top: 20px;
  }
  .video__container {
    padding: 0;
    height: 250px;
  }
  .video__container video {
    height: 100%;
  }
  .rating-film__content {
    flex-direction: column;
  }
  .rating-film__block {
    flex-flow: column;
  }
  .rating-film-name-actors__block {
    width: 100%;
    text-align: center;
  }
  .all-series__block img {
    height: 95px;
  }
  .cast__header {
    font-size: 25px;
    text-align: center;
  }
  .drammas__content {
    flex-direction: column;
  }
  .theater-mask__block {
    width: 100%;
  }
  .drammas-text_block h3 {
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 318px) {
  .menu__content {
    align-items: center;
  }
}
@media screen and (max-width: 282px) {
  .cast-actors__block {
    justify-content: center;
  }
  .film-name__content button {
    margin-left: -5px;
  }
}
